<!--
  ~ Copyright (c) 2018 Schibsted Products & Technology AS. Licensed under the terms of the MIT license. See LICENSE in the project root.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.schibsted.account.ui">

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:theme="@style/Theme.AppCompat.Light">
        <meta-data
            android:name="schacc_client_name"
            android:value="@string/schacc_spid_label" />
        <meta-data
            android:name="schacc_phone_prefix"
            android:value="47" />
        <meta-data
            android:name="schacc_redirect_scheme"
            android:value="@string/schacc_redirect_scheme" />
        <meta-data
            android:name="schacc_redirect_host"
            android:value="@string/schacc_redirect_host" />

        <activity android:name=".login.flow.passwordless.PasswordlessActivity" />
        <activity android:name=".login.flow.password.PasswordActivity">
            <intent-filter android:label="@string/schacc_intent_password_sign_up_link_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="@string/schacc_redirect_scheme"
                    android:host="*" />
            </intent-filter>
        </activity>
    </application>

</manifest>
