$sidebar-width: 240px;

.docs {
    .post-content {
        box-sizing: border-box;
        float: left;
        width: $content-width-inner - $sidebar-width;
        padding-right: $spacing-unit / 2;
    }

    .sidebar {
        box-sizing: border-box;
        float: right;
        width: $sidebar-width - ($spacing-unit / 2);
        padding: $spacing-unit / 4;
        border-left: 1px solid $grey-color-light;
        
        overflow-x: hidden;

        & > a {
            display: block;
        }

        & > h3 {
            font-weight: bold;
        }

        & h4 {
            padding: 0;
            margin: 0;
        }

        & ul {
            margin-left: $spacing-unit / 2;
        }

        & li {
            list-style: none;
        }
    }

    @include media-query($on-laptop) {
        .post-content {
            float: none;
            width: 100%;
        }

        .sidebar {
            float: none;
            width: 100%;
            margin-bottom: $spacing-unit;
        }
    }
}