<!--
  ~ Copyright (c) 2018 Schibsted Products & Technology AS. Licensed under the terms of the MIT license. See LICENSE in the project root.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.schibsted.account.ui">

    <application>
        <activity android:name="com.schibsted.account.ui.login.flow.passwordless.PasswordlessActivity" android:launchMode="singleTop" />
        <activity android:name="com.schibsted.account.ui.login.flow.password.PasswordActivity" android:launchMode="singleTop" android:windowSoftInputMode="adjustNothing">
            <intent-filter android:label="@string/schacc_intent_password_sign_up_link_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/schacc_conf_redirect_scheme" android:host="*" />
            </intent-filter>
        </activity>
    </application>

</manifest>
