<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2018 Schibsted Products & Technology AS. Licensed under the terms of the MIT license. See LICENSE in the project root.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.schibsted.account.example">

    <application
        android:name=".App"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <meta-data android:name="@string/schacc_conf_locale" android:value="nb_NO" />
        <meta-data android:name="@string/schacc_conf_cancellable" android:value="false" />
        <meta-data android:name="@string/schacc_conf_client_logo" android:resource="@drawable/ic_example_logo" />

        <activity android:name="com.schibsted.account.example.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.schibsted.account.persistence.UserPersistenceService" />
    </application>

</manifest>
