---
layout: default
---
<article class="docs">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="sidebar">
    <h3>Table of contents</h3>
    {% for item in site.data[page.sidebar].nav %}
      {% if item.url %}
        {% if item.url contains '://' %}
          <h4><a href="{{ item.url }}" target="_blank">{{ item.title }}</a></h4>
        {% else %}
          <h4><a href="{{ item.url | absolute_url }}">{{ item.title }}</a></h4>
        {% endif %}
      {% else %}
        <h4>{{ item.title }}</h4>
        <ul>
          {% for entry in item.groupitems %}
            {% if item.url contains '://' %}
              <li><a href="{{ entry.url }}" target="_blank">{{ entry.page }}</a></li>
            {% else %}
              <li><a href="{{ entry.url | absolute_url }}">{{ entry.page }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      {% endif %}
    {% endfor %}
  </div>

  <div class="post-content">
    {{ content }}
  </div>
</article>
